* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #cecece;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}


header {
    width: 1200px;

    max-width: 100%;
    height: 100px;
    border: 1px solid #555;
    background-color: #1a1a1a;
}

nav {
    width: 100%;
    height: 100%;
}

nav>ul {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
}


nav>ul>li {
    margin-left: 20px;
    flex-basis: 200px;

    flex-grow: 1;

    border-right: 1px solid #000;
    align-items: center;
    justify-content: center;
    background-color: #4b0082;
    transition: all 0.2s;
}




nav>ul>li:nth-child(odd) {
    flex-shrink: 2;

    background-color: #3e006b;
}


nav>ul>li:nth-child(even) {
    flex-grow: 1;

    background-color: #3e006b;
}

nav>ul>li:nth-child(2) {
    box-sizing: content-box;
    padding: 0 20px;
    flex-basis: 160px;
    /* 200px - 40px (padding) = 160px */
}


nav>ul>li:first-child {
    background-color: #eee;
    margin-left: 10px;
}

nav>ul>li:last-child {
    margin-right: 10px;
}

nav>ul>li:first-child a {
    color: #000;
    font-size: 1.4em;
}

nav>ul>li>a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul>li:hover {
    background-color: #8b0000;
    cursor: pointer;
}